@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
:root {
  --background: #191a2e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
  white-space: break-spaces;
  font-family: "Source Code Pro", monospace;
  color: #baa4da;
  word-break: break-word;
}
::selection {
  background-color: #baa4da25;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--background);
  overflow: hidden;
  min-height: 100vh;
  padding: 2rem;
}
ul,
ol {
    margin-left: 2rem;
  list-style-position: inside;
}
p {
  margin-left: 2rem;
}
h3 {
  margin-left: 1rem;
}
ul li::marker,
ol li::marker {
  color: #baa4da50;
}
*:hover pre,
*:hover code {
  background-color: #191a2e80;
}
#root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  position: fixed;
  inset: 2rem;
}
.card {
  border: 1px solid #baa4da50;
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}
.card::-webkit-scrollbar {
  background-color: #191a2e;
  width: 0.2rem;
}
.card:hover::-webkit-scrollbar {
  width: 0.5rem;
}
.card::-webkit-scrollbar-thumb {
  background-color: #baa4da50;
  border-radius: 1rem;
}
.card > *:hover {
  cursor: pointer;
}
ul > *:hover,
ol > *:hover {
  background-color: #baa4da05;
  padding-left: 0.5rem;
}
hr {
  height: 1px;
  border: none;
  background-color: #baa4da80;
  width: calc(100% - 1rem);
}
